:root {
  --primary-blue: #0047ab;
  --primary-dark: #0a0a0a;
  --text-dark: #36454f;
  --text-light: #ffffff;
  --bg-light-gray: #e5e4e2;
  --bg-medium-gray: #cccccc;
  --bg-dark-gray: #2a3439;
  --accent-purple: #5e3bee;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--text-light);
  color: #000000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  background-color: var(--bg-dark-gray);
  width: 0.6rem;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-blue);
  border-radius: 6px;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.scroll-watcher {
  position: fixed;
  height: 0.5vh;
  top: 0;
  z-index: 1000;
  width: 100%;
  background-color: var(--primary-blue);
  scale: 0 1;
  animation: scroll-watcher linear;
  animation-timeline: scroll(y);
  transform-origin: left;
}

@keyframes scroll-watcher {
  to {
    scale: 1 1;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 108rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5rem;
  padding-right: 5rem;
}

.section-title {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 18px 42px;
  border-radius: 12px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  opacity: 0.8;
}

.btn:active {
  scale: 0.95;
}

.btn-primary {
  background-color: var(--primary-blue);
  color: var(--text-light);
  border: 1px solid rgba(0, 4, 12, 0.1);
}
.btn-primary:active {
  box-shadow: 0 0 0 2px var(--primary-blue);
}

.btn-secondary {
  background-color: #3a3333;
  color: var(--text-light);
}
.btn-secondary:active {
  box-shadow: 0 0 0 2px #3a3333;
}

/* CSS for section section:header */
#header {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  width: 100vw;
  z-index: 1000;
  backdrop-filter: blur(10px);
}
.header-main {
  background-color: transparent;
  box-shadow: 0px 5.33px 80px 0px rgba(0, 0, 0, 0.1);
  padding: 25px 0;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: var(--primary-blue);
  display: inline-block;
  -webkit-text-stroke: 1px var(--text-light);
}
.main-nav ul {
  display: flex;
  align-items: center;
  gap: 42px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-nav a {
  font-family: "Roboto", sans-serif;
  font-size: 21.33px;
  color: var(--text-light);
  transition: color 0.3s ease;
}
.main-nav a:hover {
  color: var(--primary-blue);
  text-decoration: underline;
  text-decoration-color: var(--text-light);
  text-underline-offset: 8px;
}
.contact-btn {
  border: 1.33px solid var(--primary-blue);
  color: var(--text-light);
  background-color: transparent;
  padding: 12px 32px;
  border-radius: 5.33px;
  font-family: "Roboto", sans-serif;
  font-size: 21.33px;
  transition: background-color 0.3s, color 0.3s;
}
.contact-btn:hover {
  background-color: var(--primary-blue);
  color: var(--text-light);
}
@media (max-width: 768px) {
  .main-nav {
    display: none;
  }
}

/* CSS for section section:hero */
#hero {
  background: linear-gradient(180deg, #ffffff 0%, #e5e4e2 100%);
  background-image: url("./img/background.jpg");
  background-size: cover;
  background-position: center;

  padding: 60px 0;
}
.hero-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}
.hero-text {
  flex: 1;
  max-width: 45rem;
}
.hero-welcome {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: var(--text-light);
  margin-bottom: 11px;
}
.hero-name {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  color: var(--text-light);
  margin-bottom: 11px;
}
.hero-title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: var(--text-light);
  margin-bottom: 11px;
}
.hero-description {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  color: var(--primary-dark);
  margin-bottom: 30px;
}

.hero-tags {
  display: flex;
  margin-bottom: 40px;
}

.scroller {
  max-width: 35rem;
  height: contain;
}

.scroller-inner {
  display: flex;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  mask: linear-gradient(
    90deg,
    transparent,
    var(--text-light) 20%,
    var(--text-light) 80%,
    transparent
  );
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    var(--text-light) 20%,
    var(--text-light) 80%,
    transparent
  );
}

.scroller[data-animated="true"] .scroller-inner {
  flex-wrap: nowrap;
  animation: scrollAnime var(--animation-duration, 20s)
    var(--animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --animation-direction: reverse;
}
.scroller[data-direction="left"] {
  --animation-direction: forwards;
}

@keyframes scrollAnime {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.hero-tags span {
  background-color: transparent;
  color: var(--text-light);
  border: 1px solid var(--primary-dark);
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  padding: 4px 15px;
  border-radius: 5px;
}

.hero-buttons {
  display: flex;
  gap: 20px;
}
.hero-image {
  flex-shrink: 0;
}
.hero-image img {
  max-width: 100%;
  height: auto;
  width: 604px;
}
@media (max-width: 1200px) {
  .hero-image img {
    width: 300px;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 320px) {
  html {
    font-size: 9px;
  }
}
@media (max-width: 992px) {
  .hero-container {
    flex-direction: column-reverse;
    text-align: center;
  }
  .hero-tags,
  .hero-buttons {
    justify-content: center;
  }
  .hero-image img {
    width: 400px;
  }
}
@media (max-width: 768px) {
  .hero-name {
    font-size: 36px;
  }
  .hero-title {
    font-size: 20px;
  }
  .hero-description {
    font-size: 18px;
  }
  .hero-image img {
    width: 300px;
  }
}

/* CSS for section section:about */
#about {
  background-color: var(--bg-medium-gray);
  padding: 80px 0;
}
.about-title {
  color: #000000;
  margin-bottom: 50px;
}
.about-content {
  max-width: 1154px;
  margin: 0 auto 60px;
  animation: fade-out linear forwards;
  animation-timeline: view();
  animation-range: exit;
}
.about-content p {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 1.5;
  margin-bottom: 24px;
}
.about-cards-container {
  display: flex;
  justify-content: center;
  gap: 53px;
  flex-wrap: wrap;
}
.about-card {
  background-color: #ffffff;
  padding: 44px;
  text-align: center;
  flex-basis: 408px;
  flex-grow: 1;
  max-width: 408px;
}
.about-card h3 {
  color: var(--accent-purple);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 0 0 15px 0;
}
.about-card p {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
}
@media (max-width: 768px) {
  .about-content p {
    font-size: 18px;
  }
}

/* CSS for section section:projects */
#projects {
  background-color: var(--bg-dark-gray);
  padding: 80px 0;
}
.projects-main-title {
  color: var(--text-light);
  margin-bottom: 20px;
}
.projects-subtitle {
  color: var(--text-light);
  font-size: 18px;
  max-width: 580px;
  margin: 0 auto 60px;
  text-align: center;
  line-height: 1.4;
}
.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 40px;
}
.project-card {
  background-color: #ffffff;
  color: #000;
  border-radius: 16px;
  padding: 24px;
  display: flex;
  flex-direction: column;
}
.one {
  background-image: url("./img/project1.png");
  background-size: cover;
  background-position: top;
  height: 20vh;
  border-radius: 0.9rem;
  margin-bottom: 1rem;
}
.two {
  background-image: url("./img/project2.png");
  background-size: cover;
  background-position: top;
  height: 20vh;
  border-radius: 0.9rem;
  margin-bottom: 1rem;
}
.three {
  /* background-image: url("./img/project3.png"); */
  background-image: url("./img/project3.png");
  background-size: cover;
  background-position: top;
  height: 20vh;
  border-radius: 0.9rem;
  margin-bottom: 1rem;
}
.four {
  /* background-image: url("./img/project4.png"); */
  background-image: url("./img/project4.png");
  background-size: cover;
  background-position: top;
  height: 20vh;
  border-radius: 0.9rem;
  margin-bottom: 1rem;
}

@media (prefers-reduced-motion: no-preference) {
  .project-img {
    scale: 0.6;
    opacity: 0.8;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range: entry;
  }

  @keyframes fade-in {
    to {
      scale: 1;
      opacity: 1;
    }
  }
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  margin-bottom: 10px;
}
.project-title {
  color: var(--accent-purple);
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 0;
}
.card-links {
  display: flex;
  gap: 8px;
  font-size: 1rem;
  flex-shrink: 0;
}
.card-links a:hover {
  color: var(--primary-blue);
}
.project-desc {
  color: #808080;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin: 0 0 20px 0;
  flex-grow: 1;
}
.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
}
.project-tags .tag {
  background-color: var(--bg-medium-gray);
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 12px;
  padding: 3px 12px;
  border-radius: 12px;
}
.project-featured-text {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #000;
  margin: 0;
}
@media (max-width: 992px) {
  .projects-grid {
    grid-template-columns: 1fr;
  }
}

/* CSS for section section:skills */
#skills {
  background-color: #ffffff;
  padding: 80px 0;
}
.skills-main-title {
  color: #000000;
  margin-bottom: 40px;
}
.skill-cards-top {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.skill-card-top {
  background-color: #235574;
  color: #ffffff;
  padding: 30px;
  text-align: center;
  flex-basis: 360px;
  flex-grow: 1;
  max-width: 408px;
  position: relative;
}
.skill-icon-wrapper {
  margin-bottom: 15px;
}
.skill-icon {
  width: 2rem;
  height: 2rem;
}
.skill-card-top h3 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin: 0 0 10px 0;
}
.skill-card-top p {
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  line-height: 1.3;
  margin: 0;
}
.skills-sub-description {
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
  max-width: 670px;
  margin: 0 auto 40px;
}
.skill-cards-bottom {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}
.skill-card-bottom {
  padding: 40px 30px;
  flex-basis: 360px;
  flex-grow: 1;
  max-width: 408px;
}
.skill-card-bottom.frontend {
  background-color: rgba(6, 160, 255, 0.48);
}
.skill-card-bottom.backend {
  background-color: rgba(46, 150, 72, 0.51);
}
.skill-card-bottom.tools {
  background-color: rgba(94, 59, 238, 0.46);
}
.skill-card-bottom img {
  display: block;
  margin: 0 auto 20px;
}
.skill-card-bottom h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: left;
  margin: 0 0 20px 0;
}
.skill-card-bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.skill-card-bottom li {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 12px;
}
.skill-card-bottom li:last-child {
  margin-bottom: 0;
}

/* CSS for section section:contact */
#contact {
  background-color: var(--bg-light-gray);
  padding: 80px 0;
}
.contact-header {
  text-align: center;
  margin-bottom: 64px;
}
.contact-intro {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #3a3333;
  margin: 0 0 21px 0;
}
.contact-title {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.2;
  color: #3a3333;
  margin: 0 0 32px 0;
}
.contact-description {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 1.5;
  color: #252525;
  max-width: 1024px;
  margin: 0 auto;
}
.contact-form {
  max-width: 1024px;
  margin: 0 auto;
}
.form-row {
  display: flex;
  gap: 32px;
  margin-bottom: 32px;
}
.form-group {
  flex: 1;
}
.form-group label {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 21.33px;
  color: #3a3333;
  margin-bottom: 10px;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 16px;
  border-radius: 8px;
  border: 1.33px solid #000000;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  border: none;
}
input:focus,
textarea:focus {
  outline-color: var(--primary-blue);
  border: none;
}
.form-group textarea {
  height: 240px;
  resize: vertical;
}
.form-group textarea::placeholder {
  color: #505050;
  font-size: 21.33px;
}
.form-submit {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 32px;
}
.btn-submit,
.btn-reset {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  padding: 0 2rem;
  border-radius: 0.5rem;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: 21.33px;
  cursor: pointer;
  transition: opacity 0.3s ease;
}
/* .btn-submit {
  background-color: var(--primary-blue);
  color: var(--text-light);
} */
.btn-reset {
  background-color: #cccccc;
  color: #000000;
}

/* .btn-submit:hover {
  opacity: 0.8;
} */
.btn-reset:hover {
  background-color: #bbbbbb;
}
@media (max-width: 768px) {
  .contact-title {
    font-size: 48px;
  }
  .contact-description {
    font-size: 18px;
  }
  .form-row {
    flex-direction: column;
    gap: 24px;
    margin-bottom: 24px;
  }
}

/* CSS for section section:footer */
#footer-section {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 40px 0;
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-nav ul {
  display: flex;
  align-items: center;
  gap: 42px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-nav a {
  font-family: "Roboto", sans-serif;
  font-size: 21.33px;
  color: var(--text-light);
}
.footer-nav a:hover {
  color: var(--primary-blue);
  text-decoration: underline;
  text-decoration-color: var(--text-light);
  text-underline-offset: 8px;
}
.social-links {
  display: flex;
  align-items: center;
  gap: 16px;
}
.social-links a {
  font-size: 24px;
  color: var(--text-light);
  transition: color 0.3s ease;
}
.social-links a:hover {
  color: var(--primary-blue);
}
@media (max-width: 992px) {
  .footer-container {
    flex-direction: column;
    gap: 30px;
  }
}
@media (max-width: 768px) {
  .footer-nav ul {
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 1200px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 768px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* Animated Button ------------------ */

/* From Uiverse.io by gharsh11032000 */
.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 1rem 4rem;
  border: 4px solid;
  border-color: transparent;
  font-size: 16px;
  background-color: inherit;
  border-radius: 12px;
  font-weight: 600;
  color: var(--primary-blue);
  box-shadow: 0 0 0 2px var(--primary-blue);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: var(--primary-blue);
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: var(--primary-blue);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: var(--text-light);
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: var(--text-light);
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px var(--primary-blue);
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}
